<h1 class="heading align-self-center">Flickr Gallery</h1>

<%= render 'form' %>

<h2 class="gallery-heading align-self-center">
  <% if @user %>
    <%= link_to @user['username'], @user['profileurl'], target: '_blank' %>'s photos
  <% else %>
    Recent Photos
  <% end %>
</h2>

<%= render 'photo_feed', photos_by_year: @photos_by_year %>
